
.control-panel {
    position: relative;
    bottom: 60px;
    padding: 5px 3px;
    background-color: rgba(0, 0, 0, 0.397);

    .progres-bar {
        height: 6px;
        border-radius: 6px;
        background-color: rgba(245, 245, 245, 0.61);
        cursor: pointer;

        .progres {
            width: 50%;
            background-color: whitesmoke;
            border-radius: 6px;
            height: 6px;
        } 
    }

    

}