
.video-player {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    background-color: rgb(8, 5, 31);
    border-radius: 8px;

    
}