
.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .video-wr {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;    

        padding: 5px 5px 0 5px;
        height: 550px;
        background-color: black;
        border-radius: 10px;
    }
    
}


@media(max-width: 1010px) {
    .App {


        .video-wr {
            max-width: 375px;
            height: 260px;
            
    
            video {
                width: 360px;
            }
        }
    }
    
}
